{% extends 'base.html' %}

{% block head %}
<title>Common Services</title>
{%endblock%}
{% block body %} 
<main>
<section class="services-wrapper">
    <div class="header">
        <h2>Common Services</h2>
        <p>You might be looking for one of these....<br><br></p>
    </div>
      <div class="services-list">

    <a class="service-item" href="{{url_for('commonservices',servicepath='citizenship')}}">
      <div>
        <h3>Citizenship Services</h3>
        <p>Apply for citizenship by learning the required original or photocopied documents, the closest government ofiice<br>and the info needed to fill the form.</p>
      </div>
    </a>

    <a class="service-item" href="{{url_for('commonservices',servicepath='lalpurja')}}">
      <div>
        <h3>National ID (NID)</h3>
        <p>Apply for NID by learning the required documents, biometrics, form sample and closest government office or check<br>the current status of your NID.</p>
      </div>
    </a>

    <a class="service-item" href="{{url_for('commonservices',servicepath='drivinglicense')}}">
      <div>
        <h3>Driving License</h3>
        <p>About the entire license applying and trial process along with the info regarding closest office, retrial dates, new applicant acceptance date<br>and the license status.</p>
      </div>
    </a>

    <a class="service-item" href="{{url_for('commonservices',servicepath='passport')}}">
      <div>
        <h3>Passport Services</h3>
        <p>Apply for citizenship by learning the required original or photocopied documents, the closest government ofiice<br>and the info needed to fill the form.</p>
      </div>
    </a>

  </div>
</section>
</main>
{% endblock %}
