{% extends 'base.html' %} {% block head %}
<title>Centralised Governance</title>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %} {% block body %}
<main>
  <section id="home">
    <div class="mainbody">
      <h1>Government Services <span class="auto-type"></span></h1>
    </div>
    <form action="/" method="POST">
      <div class="search">
        <span class="search-icon material-symbols-outlined">search</span>
        <input
          class="search-input"
          type="search"
          placeholder="Search"
          id="searchQuery"
          name="searchQuery"
        />
      </div>
    </form>
  </section>
  {% if trigger_alert %}
        <script>
            alert("We couldnt respond to that prompt. \nPlease try including the services you need");
        </script>
    {% endif %}
  
</main>
{% endblock %}
