{%extends 'base.html' %}

{% block head %} 
<title>Centralised Governance</title>
{% endblock %}



{% block body %} 
<main>

    <section id="home">
    <form action="/" method="POST">
        <img src="/static/images/logo.png" class="big_logo">
        <div class="front-text">
            <p>What services are you looking for..........?</p>
        </div>
        <div class="search">
            <span class="search-icon material-symbols-outlined"> search </span>
            <input class="search-input" type="search" placeholder="Search" id="searchQuery" name="searchQuery" />
        </div>
    </form>
    </section>
</main>

{% endblock %} 

