{% extends 'base.html' %} {% block head %}
<title>Centralised Governance</title>
{% endblock %} {% block body %}
<main>

    <section id="home">
    <form action="/" method="POST">
        <img src="/static/images/logo.png" class="big_logo">
        <div class="front-text">
            <p>What services are you looking for..........?</p>
        </div>
        <div class="search">
            <span class="search-icon material-symbols-outlined"> search </span>
            <input class="search-input" type="search" placeholder="Search" id="searchQuery" name="searchQuery" />
        </div>
    </form>
  </section>

  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</main>
{% endblock %}
