{%extends 'base.html'%} {%block head%}
<title>Search</title>
{%endblock%} {%block body%}
<main>

{% if type in ['DrivingLicense', 'NIDCard', 'Citizenship', 'Passport'] %}
    <h1>{{ type|capitalize }} documents box</h1>
  {% endif %}

  <h2>Documents Required:</h2>
  {%set allDocuments = data[0][3] %}
  {%set documents = allDocuments.split(',') %}
    <ol>
      {% for doc in documents %}
      <li>{{ doc.strip() }}</li>
      {% endfor %}
    </ol>
  {% if button %}  

<section id="home">
    <h1>Do you have the documents listed above?</h1>
    <form action="/search" method="POST">
      <input type="hidden" name="service" value="{{ type }}" />
      <div class="search-page">
        <button type="submit" name="choice" value="yes" class="search-input">
          Yes
        </button>
        <button type="submit" name="choice" value="no" class="search-input">
          No
        </button>
      </div>
    </form>
  </section>

  {%endif%}

  <section id="home">
    <form action="/" method="POST">
      <div class="search-page">
        <span class="search-icon material-symbols-outlined"> search </span>
        <input
          class="search-input"
          type="search"
          placeholder="Search"
          id="searchQuery"
          name="searchQuery"
        />
      </div>
    </form>
  </section>
</main>
{%endblock%}
